@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Customers.cshtml";
}
@foreach (var modelc in Model)
{

    <h2>@modelc.Name</h2>
    <ul>
        <li>MemberShipType: @modelc.MemberShipType.Name</li>
        

        @if (@modelc.Birthday.HasValue && @modelc.Birthday > DateTime.Now.Date.AddYears(-50))
        {
            <li>BirthDay: @modelc.Birthday.Value.ToShortDateString()</li>

        }


    </ul>
            }
